@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes music-bar-1 {

  0%,
  100% {
    height: 8px;
  }

  50% {
    height: 16px;
  }
}

@keyframes music-bar-2 {

  0%,
  100% {
    height: 8px;
  }

  50% {
    height: 20px;
  }
}

@keyframes music-bar-3 {

  0%,
  100% {
    height: 6px;
  }

  50% {
    height: 12px;
  }
}